*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.fl {
  float: left;
}

.navbar {
  background-color: black;
  color: #d2d2d2;
  height: 100%;
  width: 200px;
  position: relative;
  font-size: 12px;
  overflow-y: auto;
  padding: 20px;
}

.navbar-top {
  overflow-y: hidden;
}

.logo {
  height: 40px;
}

.navbar a:hover, .main-nav a:hover {
  color: white;
}

.navbar-list {
  list-style-type: none;
  padding: 10px 0;
}

.navbar-list li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-list img {
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

#playlist-title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.playlist {
  overflow-y: auto;
}

#crea-pl::before {
  font-family: FontAwesome;
  content: '\f0fe';
  font-size: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 183px;
  background-color: black;
  padding: 10px;
  position: fixed;
  margin-bottom: 80px;
}

.navbar-bottom img {
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar-bottom hr {
  margin: 5px 0;
}

#profile {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#profile img {
  background-color: grey;
  border-radius: 50%;
  height: 20px;
}

.main-header {
  background-color: rgba(0,0,0,0.4);
  height: 80px;
  width: calc(100% - 200px);
  position: relative;
  position: fixed;
  z-index: 1;
}

.main-header div {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 40px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 30px;
}

.main-header a:hover div {
  font-size: 17px;
  margin-right: 25px;
}

.main {
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}

h2 {
  color: white;
  font-weight: bold;
}

.main-nav {
  text-align: center;
  margin-top: 80px;
}

.main-nav-content {
  padding: 20px;
}

.main-nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li a {
  color: #a3a3a3;
}

.main-content {
  padding: 20px;
}

.flex-albums-content, .albums-content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.album-container {
  width: 165px;
  text-align: center;
  margin-right: 15px;
}

.album-img {
  height: 165px;
  width: 165px;
  background-size: cover;
  position: relative;
}

/* ALBUMS */
.heavy-metal {
  background-image: url(../img/heavy-metal.jpg);
}

.stranger-things {
  background-image: url(../img/stranger.jpeg);
}

.a-quiet-place {
  background-image: url(../img/aquietplace.jpeg);
}

.split {
  background-image: url(../img/split.jpeg);
}

.sinister {
  background-image: url(../img/sinister.jpeg);
}

.cure-wellness {
  background-image: url(../img/cure.jpeg);
}

.radar {
  background-image: url(../img/radar.jpeg);
}

.dailymix {
  background-image: url(../img/mixdaily.jpeg);
}

.lanadr {
  background-image: url(../img/youg.jpeg);
  border-radius: 50%;
}

.einaudi {
  background-image: url(../img/einaudi.jpeg);
  border-radius: 50%;
}
/* end ALBUMS */

.album-img i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  display: none;
}

.album-container a:hover .album-img i {
  display: block;
}

.opacity {
  background-color: rgba(0,0,0,0.4);
  width: 165px;
  height: 165px;
  display: none;
}

.circle {
  border-radius: 50%;
}

.album-img:hover .opacity {
  display: block;
}

.album-title {
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.album-subtitle {
  color: #a3a3a3;
  font-size: 12px;
}

.pad-tb {
  padding: 10px 0;
}

footer {
  background-color: #282828;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-x: hidden;
}

.left-footer {
  display: flex;
  align-items: center;
}

.left-footer div {
  display: inline-block;
}

.left-footer img {
  height: 40px;
  margin-right: 10px;
}

#footer-song-title {
  font-weight: bold;
  font-size: 14px;
}

#footer-song-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: grey;
}

.left-footer a:first-of-type {
  margin-left: 40px;
}

.left-footer a i {
  margin-left: 20px;
  color: grey;
}

.left-footer i:hover {
  color: white;
}

.footer-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.center-footer {
  text-align: center;
  width: 600px;
}

.footer-icons-container a {
  font-size: 20px;
  margin-right: 40px;
}

.center-footer i:last-of-type {
  margin-right: 0;
}

#play {
  font-size: 40px;
}

#play:hover {
  font-size: 45px;
}

.song-bar {
  width: 500px;
  height: 4px;
  border-radius: 5px;
  background-color: grey;
  text-align: center;
  display: inline-block;
}

.right-footer {
  display: flex;
  align-items: center;
}

.right-footer a {
  margin-right: 20px;
}

.volume-bar {
  width: 100px;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
}

.time {
  font-size: 10px;
  margin: 0 15px;
}
