*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

.wrapper {
  height: calc(100vh - 80px);
  width: 100vw;
  max-width: 100%;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.navbar {
  background-color: black;
  color: #d2d2d2;
  height: 100%;
  width: 200px;
  position: relative;
}

.navbar-content {
  padding: 20px;
}

.logo {
  height: 40px;
}

.navbar-list {
  list-style-type: none;
  padding: 20px 0;
}

.navbar-list li {
  margin: 10px 0;
  font-size: 12px;
}

.navbar-list img {
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.main-header {
  background-color: #080b12;
  height: 80px;
  position: relative;
}

.main-header div {
  color: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
  padding: 10px 40px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 10px;
}

.main {
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}

h2 {
  color: white;
  font-weight: bold;
}

.main-nav {
  text-align: center;
}

.main-nav-content {
  padding: 20px;
}

.main-nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: #a3a3a3;
}

.main-content {
  padding: 20px;
}

.flex-albums-content, .doe-albums-content {
  display: flex;
  padding: 30px 0;
}

.flex-albums-content {
  justify-content: space-between;
}

.flex-albums-content div, .doe-albums-content div {
  width: 16%;
  text-align: center;
  display: inline-block;
}

.doe-albums-content div {
  padding-right: 10px;
}

.flex-albums-content img, .doe-albums-content img {
  width: 100%;
}

.album-title, .album-subtitle {
  width: 100% !important;
}

.album-title {
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.album-subtitle {
  color: #a3a3a3;
  font-size: 12px;
}

footer {
  background-color: #282828;
  height: 80px;
  position: relative;
  z-index: 1;
}
